body {

	font-family: 'Lato', sans-serif;
	color: #747704;
	font-weight: 300;
}

.text-muted{
	color: #BCBBBB;
}

.text-thin {
	font-weight: 100;
}

.title-super {
	font-size: 60px;
}

.title-logo {
	margin-top: 20px;
}

.modal-popout-bg{

	background-image: url("https://static.pexels.com/photos/399161/pexels-photo-399161.jpeg");
}

